# Extensions
**/bot/exts/backend/sync/**             @MarkKoz
**/bot/exts/moderation/*silence.py      @MarkKoz
bot/exts/info/codeblock/**              @MarkKoz
bot/exts/utils/extensions.py            @MarkKoz
bot/exts/utils/snekbox.py               @MarkKoz
bot/exts/moderation/**                  @mbaruh
bot/exts/info/information.py            @mbaruh
bot/exts/filtering/**                   @mbaruh
bot/exts/recruitment/**                 @wookie184

# Utils
bot/utils/function.py                   @MarkKoz
bot/utils/lock.py                       @MarkKoz

# Tests
tests/_autospec.py                      @MarkKoz
tests/bot/exts/test_cogs.py             @MarkKoz

# CI & Docker
.github/workflows/**                    @MarkKoz
Dockerfile                              @MarkKoz
docker-compose.yml                      @MarkKoz
