# Extensions
**/bot/exts/backend/sync/**             @MarkKoz
**/bot/exts/filters/*token_remover.py   @MarkKoz
**/bot/exts/moderation/*silence.py      @MarkKoz
bot/exts/info/codeblock/**              @MarkKoz
bot/exts/utils/extensions.py            @MarkKoz
bot/exts/utils/snekbox.py               @MarkKoz @Akarys42 @jb3
bot/exts/help_channels/**               @MarkKoz @Akarys42
bot/exts/moderation/**                  @Akarys42 @mbaruh @Den4200 @ks129 @jb3
bot/exts/info/**                        @Akarys42 @Den4200 @jb3
bot/exts/info/information.py            @mbaruh @jb3
bot/exts/filters/**                     @mbaruh @jb3
bot/exts/fun/**                         @ks129
bot/exts/utils/**                       @ks129 @jb3
bot/exts/recruitment/**                 @wookie184

# Rules
bot/rules/**                            @mbaruh

# Utils
bot/utils/extensions.py                 @MarkKoz
bot/utils/function.py                   @MarkKoz
bot/utils/lock.py                       @MarkKoz
bot/utils/regex.py                      @Akarys42
bot/utils/scheduling.py                 @MarkKoz

# Tests
tests/_autospec.py                      @MarkKoz
tests/bot/exts/test_cogs.py             @MarkKoz
tests/**                                @Akarys42

# CI & Docker
.github/workflows/**                    @MarkKoz @Akarys42 @SebastiaanZ @Den4200 @jb3
Dockerfile                              @MarkKoz @Akarys42 @Den4200 @jb3
docker-compose.yml                      @MarkKoz @Akarys42 @Den4200 @jb3

# Tools
Pipfile*                                @Akarys42

# Statistics
bot/async_stats.py                      @jb3
bot/exts/info/stats.py                  @jb3
