[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "~=1.3.1"
aiodns = "~=2.0"
aiohttp = "~=3.5"
sphinx = "~=2.2"
markdownify = "~=0.4"
lxml = "~=4.4"
pyyaml = "~=5.1"
fuzzywuzzy = "~=0.17"
aio-pika = "~=6.1"
python-dateutil = "~=2.8"
deepdiff = "~=4.0"
requests = "~=2.22"
more_itertools = "~=7.2"
urllib3 = ">=1.24.2,<1.25"

[dev-packages]
coverage = "~=4.5"
flake8 = "~=3.7"
flake8-annotations = "~=1.1"
flake8-bugbear = "~=19.8"
flake8-docstrings = "~=1.4"
flake8-import-order = "~=0.18"
flake8-string-format = "~=0.2"
flake8-tidy-imports = "~=2.0"
flake8-todo = "~=0.7"
pre-commit = "~=1.18"
safety = "~=1.8"
unittest-xml-reporting = "~=2.5"
dodgy = "~=0.1"

[requires]
python_version = "3.7"

[scripts]
start = "python -m bot"
lint = "python -m flake8"
precommit = "pre-commit install"
build = "docker build -t pythondiscord/bot:latest -f Dockerfile ."
push = "docker push pythondiscord/bot:latest"
test = "coverage run -m unittest"
report = "coverage report"
