[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "~=1.3.2"
aiodns = "~=2.0"
aiohttp = "~=3.5"
sphinx = "~=2.2"
markdownify = "~=0.4"
lxml = "~=4.4"
pyyaml = "~=5.1"
fuzzywuzzy = "~=0.17"
aio-pika = "~=6.1"
python-dateutil = "~=2.8"
deepdiff = "~=4.0"
requests = "~=2.22"
more_itertools = "~=8.2"
sentry-sdk = "~=0.14"
coloredlogs = "~=14.0"
colorama = {version = "~=0.4.3",sys_platform = "== 'win32'"}
jsonpickle = "*"
pythonping = "*"
socket = "*"
statsd = "~=3.3"

[dev-packages]
coverage = "~=5.0"
flake8 = "~=3.7"
flake8-annotations = "~=2.0"
flake8-bugbear = "~=20.1"
flake8-docstrings = "~=1.4"
flake8-import-order = "~=0.18"
flake8-string-format = "~=0.2"
flake8-tidy-imports = "~=4.0"
flake8-todo = "~=0.7"
pep8-naming = "~=0.9"
pre-commit = "~=2.1"
unittest-xml-reporting = "~=3.0"

[requires]
python_version = "3.8"

[scripts]
start = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
build = "docker build -t pythondiscord/bot:latest -f Dockerfile ."
push = "docker push pythondiscord/bot:latest"
test = "coverage run -m unittest"
report = "coverage report"
