[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = {git = "https://github.com/Rapptz/discord.py.git",extras = ["voice"],ref = "860d6a9ace8248dfeec18b8b159e7b757d9f56bb",editable = true}
aiodns = "*"
logmatic-python = "*"
aiohttp = "*"
sphinx = "*"
markdownify = "*"
lxml = "*"
pyyaml = "*"
fuzzywuzzy = "*"
aio-pika = "*"
python-dateutil = "*"
deepdiff = "*"
requests = "*"
dateparser = "*"
urllib3 = ">=1.24.2,<1.25"

[dev-packages]
flake8 = "~=3.7"
flake8-bugbear = "~=19.8"
flake8-import-order = "~=0.18"
flake8-string-format = "~=0.2"
flake8-tidy-imports = "~=2.0"
flake8-todo = "~=0.7"
pre-commit = "~=1.18"
safety = "*"
dodgy = "*"
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python -m bot"
lint = "python -m flake8"
precommit = "pre-commit install"
build = "docker build -t pythondiscord/bot:latest -f docker/bot.Dockerfile ."
push = "docker push pythondiscord/bot:latest"
buildbase = "docker build -t pythondiscord/bot-base:latest -f docker/base.Dockerfile ."
pushbase = "docker push pythondiscord/bot-base:latest"
buildci = "docker build -t pythondiscord/bot-ci:latest -f docker/ci.Dockerfile ."
pushci = "docker push pythondiscord/bot-ci:latest"
